@model Credentials

<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="text-center">
        <form asp-action="Login" asp-route-app="@Context.Request.Query["app"]" asp-route-deviceId="@Context.Request.Query["deviceId"]">
            <h2>Login</h2>

            <div class="mb-3 text-start">
                <label asp-for="Email" class="form-label">E-mail</label>
                <input asp-for="Email" type="text" class="form-control">
            </div>

            <div class="mb-3 text-start">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control">
            </div>

            @if (TempData["msg"] != null)
            {
                <div class="mb-3">
                    @TempData["msg"]
                </div>
            }

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>